<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>

<body>
    Hola, desde un .EJS
    <form action="/body" method="POST">
        <label for="valor"></label>
        <input type="text" name="valor" id="valor">
        <button type="submit">Enviar POST</button>
    </form>

    <form action="/body?_method=PUT" method="POST">
        <label for="valor"></label>
        <input type="text" name="valor" id="valor">
        <button type="submit">Enviar PUT</button>
    </form>
</body>

</html>